.title {
    font-family : Courier;
    font-size   : 12px;
    color       : #00ff00;
    position    : absolute;
    top         : 20px;
    left        : 20px;
    z-index     : 1000;
    font-weight : 300;
}